html
{
	font-family: Arial, Helvetica, sans-serif;
}

.red
{
	background-color: red !important;
	border-radius: 50%;
}

.pink
{
	background-color: pink;
}

.pink:hover
{
	background-color: lightcoral;
}

.blue
{
	background-color: blue !important;
	border-radius: 50%;
	/* transform: rotate(45deg);
	transform-origin: 0 100%; */
}

.lightblue
{
	background-color: lightblue;
}

.lightblue:hover
{
	background-color: dodgerblue;
}

.green
{
	background-color: green !important;
	border-radius: 50%;
}

.lightgreen
{
	background-color: palegreen;
}

.lightgreen:hover
{
	background-color: lightgreen;
}

.multipartisan
{
	background-color: #EEEEEE;
}

.multipartisan:hover
{
	background-color: lightgrey;
}

.red-voter
{
	background-color: red;
	border-radius: 50%;
}

#red-votercount
{
	color: red;
}

#blue-votercount
{
	color: blue;
}

#green-votercount
{
	color: green;
}

#representativesCount
{
	width: 150px;
	text-align: center;
}

#representativesCount span
{
	font-weight: bold;
	/* margin-left: 50px; */
}

#representativesCount > h1
{
	margin: 0px;
	padding: 0px;
}

#tiles > section > div
{
	border: 1px solid white;
	padding: 2px; /* outlineWidth - borderWidth */
}

.voter {
	margin: 3px 0 0 3px;
}

#tiles div.fadeIn
{
	transition: background-color .05s linear;
	-moz-transition: background-color .05s linear;
	-webkit-transition: background-color .05s linear;
	-o-transition: background-color .05s linear;
}

#tiles div.fadeOut
{
	transition: background-color 1s linear;
	-moz-transition: background-color 1s linear;
	-webkit-transition: background-color 1s linear;
	-o-transition: background-color 1s linear;
}

.row
{
  width: 100%;
  margin: auto;
}

.districtNode
{
	border: 1px solid green;
}

.topBorder
{
	border-top-width: 1px;
	border-top-style: solid !important;
	border-top-color: black !important;
	/* padding-top: 3px; */
}

.bottomBorder
{
	border-bottom-width: 1px;
	border-bottom-style: solid !important;
	border-bottom-color: black !important;
}

.leftBorder
{
	border-left-width: 1px;
	border-left-style: solid !important;
	border-left-color: black !important;
	/* padding-left: 3px; */
}

.rightBorder
{
	border-right-width: 1px;
	border-right-style: solid !important;
	border-right-color: black !important;
}

.container
{
	display: flex;
}

.gameMenu
{
	width: 50%;
	text-align: center;
	margin: 0 auto;
	padding-bottom: 10px;
	border: 1px solid black;
}

.gameMenu table
{
	margin: 0 auto;
}

/* .gameMenu span {

} */

#menuStartPvP, #menuStartPvE, #menuStartButtons
{
	width: 100%;
}

#menuStartButtons td {
	width: 50%;
}

#mainMenuButton
{
	width: 143px;
	margin: 3px 3px 20px 3px;
}

#endTurnButton
{
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 143px;
	margin: 3px 3px 3px 3px;
}

#undoButton
{
	position: absolute;
	bottom: 25px;
	left: 0px;
	width: 143px;
	margin: 3px 3px 3px 3px;
}

#currentTurnLabel
{
	position: absolute;
	bottom: 75px;
	left: 0px;
	width: 143px;
}

#moveCounter
{
	position: absolute;
	bottom: 50px;
	left: 0px;
	width: 143px;
}

#moveCounterLabel
{
	position: absolute;
	bottom: 55px;
	left: 0px;
	width: 143px;
}

#canvas
{
	margin: 0 auto;
}

#status
{
    position:relative;
	text-align: center;
	background-color: lightgrey;
	width: 150px;
}

.flex-item
{
	flex-shrink: 1;
}

.slidecontainer {
	width: 300px;
	margin: 2px auto;
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    /* width: 100%; // Full-width */
	width: 300px;
    height: 15px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
	border-radius: 50%;
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

#bigbrother {
	text-align: center;
	letter-spacing: 20px;
}

#bigbrother > h1 {
	margin-bottom: 0;
	padding-bottom: 0;
}

.topOutline {
	border-top-width: 3px !important;
	padding-top: 0px !important;
}
.bottomOutline {
	border-bottom-width: 3px !important;
	padding-bottom: 0px !important;
}
.leftOutline {
	border-left-width: 3px !important;
	padding-left: 0px !important;
}
.rightOutline {
	border-right-width: 3px !important;
	padding-right: 0px !important;
}

/* .outline.topBorder {
	margin-top: 3px !important;
}

.outline.bottomBorder {
	margin-bottom: 3px !important;
}

.outline.leftBorder {
	margin-left: 3px !important;
}

.outline.rightBorder {
	margin-right: 3px !important;
} */
